name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  mix_test:
    runs-on: ubuntu-24.04
    env:
      MIX_ENV: test
      NOWAYJOSE_BUILD: "1"

    name: Elixir ${{ matrix.pair.elixir }} / OTP ${{ matrix.pair.otp }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: "1.16"
              otp: "26.2"
          - pair:
              elixir: "1.18"
              otp: "27.2"
            lint: lint

    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.pair.otp }}
          elixir-version: ${{ matrix.pair.elixir }}

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install Dependencies
        run: mix deps.get

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: cargo fmt --check --manifest-path native/nowayjose/Cargo.toml
        if: ${{ matrix.lint }}

      - run: cargo clippy --manifest-path native/nowayjose/Cargo.toml -- -D warnings
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors

      - run: mix test
